.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
}

.middle {
  padding-top: 40vh;
}

.flex {
  display: flex;
}

.navbar {
  background-color:  #0f52ba;
  height: 6vh;
  width: 100%;
  display: flex;
}

.navText {
  font-size:larger;
  color: white;
  margin-left: 20px;
  vertical-align: middle;
  margin-top: 8px;
}

.citySelect {
  height: 50px;
}

.goButton {
  background-color: #0f52ba;
}

.goButton:hover {
  background-color: #0f52ba;
}

.bold {
  font-weight: bolder;
}

.minor-icon {
  height: 45px;
  width: 45px;
  margin-right: 15px;
  padding-top: 5px;
}

.weather-block {
  display: flex;
  margin-bottom: 20px;
}

.umbrella-block {
  display: flex;
  margin-bottom: 5px;
}

.weather-text {
  padding-top: 10px;
}

.temperature-icon {
  padding-top: 15px;
}

.footer {
  font-size: 12px;
  background-color: #0f52ba;
  color: white;
  height: 38px;
  text-align: center;
  position: fixed;
  bottom: 0vh;
  width: 100vw;
  padding-bottom: none;
  padding-top: 2px;
}

.footer-link {
  color: #dcd3e7;
}

.footer-text {
  vertical-align: middle;
}

.footer-space {
  padding: 2px;
}

.subtext {
  font-size: 12px;
}

.smaller-text {
  font-size: 14px;
}

.about-grid {
  width: 50vw;
  text-align: left;
}

@media (max-width: 768px) {
  .about-grid {
    width: 90vw; /* Adjust the width for smaller screens */
    margin: 0 auto; /* Center align on smaller screens */
  }
}

.first-half {
  margin-right: 10px;
  width: 50%;
}

.second-half {
  margin-right: 10px;
  width: 50%;
}

@media (max-width: 768px) {
  .first-half,
  .second-half {
    width: 100%; /* Expand to full width on smaller screens */
    margin-right: 0; /* Remove right margin on smaller screens */
  }
}


.inline-bold {
  font-weight: 600;
}

body { margin: 0; padding: 0; }

hr {
  border: 1px solid grey;
  opacity: 30%;
}

a {
  color:blueviolet;
}